@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2 class="text-dark">Política de Privacidade</h2>

<p class="text-muted">Bem-vindo à HabitAqui! A nossa política de privacidade explica como recolhemos, usamos, partilhamos e protegemos as tuas informações pessoais.</p>

<h3 class="text-dark">Informações Recolhidas</h3>

<p class="text-muted">Recolhemos informações quando te registares na nossa plataforma, realizas reservas ou interages connosco de outras formas. As informações recolhidas podem incluir o teu nome, endereço de e-mail, número de telefone e detalhes da habitação.</p>

<h3 class="text-dark">Uso das Informações</h3>

<p class="text-muted">Utilizamos as informações recolhidas para facilitar a gestão de arrendamentos, melhorar a experiência do utilizador e fornecer um serviço personalizado. As informações pessoais não serão partilhadas com terceiros sem o teu consentimento.</p>

<h3 class="text-dark">Segurança</h3>

<p class="text-muted">Tomamos medidas para proteger as tuas informações pessoais. Utilizamos práticas de segurança padrão da indústria para garantir a confidencialidade e integridade dos dados.</p>

<h3 class="text-dark">Alterações à Política de Privacidade</h3>

<p class="text-muted">Podemos atualizar esta política periodicamente. Recomendamos que revejas esta página para te manteres informado sobre quaisquer alterações. Ao continuares a utilizar a HabitAqui, concordas com esta política de privacidade.</p>

<p class="text-muted">Para mais informações ou esclarecimentos, contacta-nos através do e-mail: privacy@habitaqui.com.</p>
