@{
    ViewData["Title"] = "Sobre Nós";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
    }

    h1 {
        color: #333;
    }

    p {
        color: #666;
    }

    #container {
        max-width: 800px;
        margin: 0 auto;
    }
</style>


<div id="container">
    <h1>Sobre a HabitAqui: A Nossa História e Compromisso</h1>

    <p>
        Bem-vindo à HabitAqui, a tua escolha para encontrar o teu próximo lar em Portugal. Desde a nossa fundação,
        temos vindo a moldar o panorama imobiliário com uma abordagem única e dedicada.
    </p>

    <h2>A Nossa História:</h2>

    <p>
        A jornada da HabitAqui começou com a visão de proporcionar não apenas casas, mas espaços que contam
        histórias e acolhem momentos preciosos. Fundada há [Número de Anos] anos, a nossa empresa cresceu,
        evoluindo com o mercado imobiliário e assumindo o compromisso de oferecer experiências excepcionais aos
        nossos clientes.
    </p>

    <h2>Missão e Valores:</h2>

    <p>
        Na HabitAqui, a nossa missão vai para além de transações imobiliárias. Comprometemo-nos a ajudar cada
        cliente a encontrar o lar perfeito, refletindo os nossos valores fundamentais de integridade, excelência e
        empatia. Acreditamos que o processo de encontrar uma casa deve ser tão memorável quanto o próprio lar.
    </p>

    <h2>A Equipa HabitAqui:</h2>

    <p>
        A nossa equipa é composta por profissionais apaixonados pelo setor imobiliário. Combinando experiência e
        entusiasmo, trabalhamos juntos para entender as necessidades individuais de cada cliente, proporcionando um
        serviço personalizado e orientado para resultados.
    </p>

    <h2>Compromisso com a Comunidade:</h2>

    <p>
        Na HabitAqui, acreditamos no poder de construir comunidades fortes. Estamos empenhados em não apenas
        ajudar os nossos clientes a encontrarem casas, mas também em contribuir para o desenvolvimento e prosperidade
        das comunidades em que operamos.
    </p>

    <h2>O Que nos Torna Únicos:</h2>

    <p>
        O que nos distingue é a nossa abordagem centrada no cliente, a transparência em todas as transações e a
        busca constante pela excelência. Oferecemos uma variedade de propriedades que se adequam a todos os estilos
        de vida e orçamentos, garantindo que cada cliente encontre a sua casa ideal.
    </p>

    <h2>Junte-se a Nós na Jornada Habitacional:</h2>

    <p>
        Seja a procura de um apartamento acolhedor, de uma casa espaçosa ou de um refúgio à beira-mar, a HabitAqui
        está aqui para tornar a tua jornada habitacional memorável e recompensadora. Junte-se a nós na emocionante
        aventura de encontrar o teu próximo lar em Portugal.
    </p>

    
</div>
